.sub-header {
    background-color: #333; /* Darker default */
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 1rem;
}
.sub-header a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.sub-header a:hover {
    background-color: #555;
}
.sub-header a.active {
    background-color: #555;
}

body.team-valor-bg .sub-header {
    background-color: #C0392B; /* Darker Valor Red */
}
body.team-mystic-bg .sub-header {
    background-color: #2980B9; /* Darker Mystic Blue */
}
body.team-instinct-bg .sub-header {
    background-color: #D4AC0D; /* Darker Instinct Yellow */
}
